@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

/* default browser settings */
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    --font-color: #ffff;
    --font-background: #000000;
    --btn1-color: #de2b2b;
    --btn2-color: #f0ce20fb;
    --btn3-color: #37ce09;
    --btn4-color: #095ece;
}

/* main body */
body {
background: #000000;
}

/* main container */
.main-container {
    background-image: url("../image/background.png");
    background-size: cover;
    margin-top: 150px;
    margin-left: 320px;
    margin-right: 50px;
    height: 400px;
    width: 700px;  
}

/* container content */
.main-container .content {
    margin-left: 245px;
    display:flex;
    flex-direction: column; 
}

/* input for numbers */
.main-container .content .input {
    margin-top: 130px;
}

.main-container .content .input #number1, #number2{
    height: 30px;
    width: 100px;
    margin-right: 15px;
    margin-bottom: 5px;
}

/* result display styling */
.main-container .content #prompt, h2, #result{
    color: var(--font-color);
    background: var(--font-background);
    font-size: 18px;
    font-family: "Anton", serif;
    width: 220px;
}

/* operation selection container */
.main-container .content .buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

 /* display of each button */
 .buttons #addition {
    height: 20px;
    width: 30px;
    background: var(--btn1-color);
    cursor: pointer;
}

.buttons #subtraction {
    height: 20px;
    width: 30px;
    background: var(--btn2-color);
    cursor: pointer;
}

.buttons #multiplication {
    height: 20px;
    width: 30px;
    background: var(--btn3-color);
    cursor: pointer;
}

.buttons #division {
    height: 20px;
    width: 30px;
    background: var(--btn4-color);
    cursor: pointer;

}














